{% extends 'clients/base.html' %}
{% block content %}
<div class="row mb-4">
    <div class="col-1"></div>
    <div class="col-4">
        <form method="post" action="" class="form-floating" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Добавление сообщения для {{email}} </h4>
                </div>
                <div class="card-body text-center">
                    {{object.id}}
                    {% csrf_token %}
                    {{form.as_p}}
                    {% if object %}
                    <button type="submit" class="btn btn-danger">Изменить</button>
                    {% else %}
                    <button type="submit" class="btn btn-danger">Создать</button>
                    {% endif %}
                    <a href="{% url 'newsletter:create'%}" class="btn btn-success">Добавить настройку</a>

                </div>
            </div>
        </form>
    </div>
    <div class="col-1"></div>

    </div>
</div>
</div>

{% endblock %}