{% extends 'clients/base.html' %}
{% block content %}
<div class="col-12 text-center">

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card mb-4 box-shadow ">
            <div class="card-header">
                <div class="row text-center">
                    <div class="col"><h4 class="my-0 font-weight-normal">Просмотр Сообщения</h4></div>
                </div>
            </div>
            <div class="card-body text-center">

                <div class="row-4"><h3>title:{{object.message_theme}} </h3></div>
                <div class="row-4"><h4>text:{{object.message_body}}</h4></div>
                <div class="row-4"><h3>{{object.surname}}</h3></div>


            </div>
            <a href="{% url 'newsletter:message_update' object.pk %}" class="btn btn-success mb-3">Изменить</abutton></a>
            <a href="{% url 'newsletter:message_list'  %}" class="btn btn-success mb-3">Назад</abutton></a>
            <a href="{% url 'newsletter:message_delete' object.id %}" class="btn btn-danger">Удалить</abutton></a>

        </div>

    </div>
</div>
{% endblock %}