{% extends 'clients/base.html' %}
{% block content %}
<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body float-center">
                <h5 class="card-title">Сохраненные сообщения</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <a href="{% url 'newsletter:message_create' %}" class="btn btn-success">написать новое сообщение сообщение</a>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Тема</th>
            <th scope="col">Текст</th>
            <th scope="col">Создатель</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <div class="col-12">
            <tr>
                <td><a href="{% url 'newsletter:message_update' object.pk %}" class="btn btn-success">Изменить </a>
                    {% if user.is_staff%}
                {% else %}
                <a href="{% url 'newsletter:message_delete' object.id %}" class="btn btn-danger">Удалить </a>
                {% endif %}
                    {% if user.is_superuser%}
                <a href="{% url 'newsletter:message_delete' object.id %}" class="btn btn-danger">Удалить </a>
                </td>
                    {% endif %}
                <th>
                    <h5>{{object.message_theme}}</a></h5>
                </th>

                <td><h5>{{object.message_body|slice:20}}</h5></td>
                <td><h5>{{object.content_creator|default:'БОГ'}}</h5></td>
            </tr>
        </div>
        </tbody>

        {% endfor %}
    </table>
</div>
{% endblock %}