{% extends 'clients/base.html' %}
{% block content %}
<div class="col-12 text-center">

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card mb-4 box-shadow ">
            <div class="card-header">
                <div class="row text-center">
                    <div class="col"><h4 class="my-0 font-weight-normal">Просмотр рассылки</h4></div>

                </div>
            </div>
            <div class="card-body text-center">
                <div class="row-4"><h3>была создана для {{object.client.email}} </h3></div>
                {% if object.start_time%}
                <div class="row-4"><h2>{{object.start_time}} </h2></div>
                {% else %}
                <div class="row-4"><h2>{{object.created_time}} </h2></div>
                {%endif%}
                <div class="row-4"><h3>переодичность: {{object.periodicity}}</h3></div>
                <div class="row-4"><h3>статус: {{object.status}}</h3></div>
                <div class="row-4"><h3>заложено дней для отправки: {{object.day_to_send}}</h3></div>
                <div class="row-4"><h3>тема сообщения была:{{object.message_id.message_theme}}</h3></div>
                <div class="row-4"><h3>создал: {{object.content_creator}}</h3></div>

            </div>
            <a href="{% url 'newsletter:update' object.pk %}" class="btn btn-success mb-3">Изменить</abutton></a>
            <a href="{% url 'newsletter:list' %}" class="btn btn-success mb-3">Назад</abutton></a>
            <a href="{% url 'newsletter:delete' object.id %}" class="btn btn-danger">Удалить</abutton></a>

        </div>

    </div>
</div>
{% endblock %}