{% extends 'clients/base.html' %}
{% block content %}
<div class="row mb-3" xmlns="http://www.w3.org/1999/html">
    <div class="col-12 text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body float-center">
                <h5 class="card-title">Сохраненные настройки</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <a href="{% url 'newsletter:create' %}" class="btn btn-success">Добавить настройку</a>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Клиент</th>
            <th scope="col">Время старта</th>
            <th scope="col">Переодичность</th>
            <th scope="col">Статус</th>
            <th scope="col">Создатель</th>


        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <div class="col-12">
            <tr>

                {% if user.is_staff and not user.is_superuser%}
                {% csrf_token %}
                <td>
                    <form method="post" action="" class="form-floating">
                        <button class="btn btn-warning" type="submit" name="pk" value="{{object.pk}}">Отключить</button>
                    </form>
                </td>
                {% endif %}
                {% if not user.is_staff %}
                <td>
                    <div class="row">
                        <a href="{% url 'newsletter:update' object.id %}" class="btn btn-success">изменить </a>
                        <a href="{% url 'newsletter:delete' object.id %}" class="btn btn-danger">Удалить </a>
                    </div>
                </td>
                {% endif %}
                {% if user.is_superuser %}
                <td>
                    <div class="row">
                        <form method="post" action="" class="form-floating">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit" name="pk" value="{{object.pk}}">Отключить
                            </button>
                        </form>
                        <a href="{% url 'newsletter:update' object.id %}" class="btn btn-success">изменить </a>
                        <a href="{% url 'newsletter:delete' object.id %}" class="btn btn-danger">Удалить </a>
                        <a href="{% url 'newsletter:detail' object.id %}" class="btn btn-success">Просмотр </a>
                    </div>
                </td>
                {% endif %}

                <th><h5>{{object.client.email}}</a></h5></th>
                {% if object.start_time %}
                <th><h5>{{object.start_time}}</a></h5></th>
                {% else %}
                <th><h5>{{object.created_time}}</a></h5></th>
                {% endif %}
                <th><h5>{{object.periodicity}}</a></h5></th>
                <th><h5>{{object.status}}</a></h5></th>
                <td><h5>{{object.content_creator|default:'БОГ'}}</h5></td>

            </tr>
        </div>
        </tbody>

        {% endfor %}
    </table>
</div>
{% endblock %}