{% extends 'clients/base.html' %}
{% block content %}
<div class="col-12 text-center">

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Удаление клиента {{object.email}}</h4>
            </div>
            <div class="card-body text-center">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a href="{% url 'clients:clients_list' %}" class="btn btn-success ">Назад</abutton></a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}