{% extends 'clients/base.html' %}
{% block content %}

<div class="row">
    <div class="col-1"></div>

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row text-center">
                    <div class="col"><h4 class="my-0 font-weight-normal">Просмотр клиента {{object.email }}</h4></div>

                </div>
            </div>
            <div class="card-body text-center">
                <div class="row-4"><h4>фамилия: {{object.last_name}} </h4></div>
                <div class="row-4"><h4>имя: {{object.first_name}} </h4></div>
                <div class="row-4"><h4>отчество: {{object.surname}}</h4></div>
                <div class="row-4"><h4>комментарий: {{object.comments}}</h4></div>


            </div>
            <a href="{% url 'clients:client_update' object.pk %}"
               class="btn btn-success mb-1">Изменить</abutton></a>
            <a href="{% url 'clients:clients_list'  %}" class="btn btn-success mb-1">Назад</abutton></a>
            <a href="{% url 'clients:client_delete' object.id %}" class="btn btn-danger">Удалить</abutton></a>

        </div>

    </div>
    <div class="col-1"></div>
    <div class="col-4">
        {% for obj in object.message_set.all %}
        <div class="card mb-2">
            <div class="card-header">
                <div class="row text-center">
                    <div class="col-8"><h4 class="my-0 font-weight-normal">Сообщение клиента</h4></div>
                    <div class="col-2">

                        <a href="{% url 'newsletter:create'%}" class="btn btn-success">Добавить
                            сообщение</a>
                    </div>
                </div>
            </div>
            <div class="card-body text-center">
                <div class="row-4"><h5>ID {{obj.id}} </h5></div>
                <div class="row-4"><h4>статус:"{{obj.settings.status}}" </h4></div>
                <div class="row-4"><h4>переодичность:"{{obj.settings.periodicity}}" </h4></div>
                <div class="row-4"><h5>Тема:{{obj.message_theme}} </h5></div>

                <div class="row-4"><h5>Сообщение:{{obj.message_body}}</h5></div>


            </div>
            <a href="{% url 'newsletter:message_update' obj.pk %}"
               class="btn btn-success mb-1">Изменить</abutton></a>
            <a href="{% url 'newsletter:message_delete' object.id %}" class="btn btn-danger">Удалить</abutton></a>

        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}