{% extends 'clients/base.html' %}
{% block content %}
<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body float-center">
                <h5 class="card-title">Клиенты сервиса</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <a href="{% url 'clients:client_create' %}" class="btn btn-success">Добавить клиента</a>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Фио</th>
            <th scope="col">E-mail</th>
            <th scope="col">количество рассылок</th>

        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <div class="col-12">
            <tr>
                <td><a href="{% url 'clients:client_update' object.pk %}" class="btn btn-success">Изменить </a>
                    <a href="{% url 'clients:client_delete' object.pk %}" class="btn btn-danger">Удалить </a></td>

                <th>
                    <h5><a href="{% url 'clients:client_detail' object.pk %}"> {{object.last_name}}
                        {{object.first_name}} {{object.surname}}</a></h5>
                </th>

                <td><h5>{{object.email}}</h5></td>
                <td>{{object.messagesettings_set.all|length}}</td>


            </tr>
        </div>
        </tbody>

        {% endfor %}
    </table>
</div>
{% endblock %}