{% extends 'clients/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">

        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Пурпурный</h6>
            <small>с 2011</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% for obj in blog_list %}
        <h6 class="border-bottom border-gray pb-2 mb-0">{{ obj.publication_date }}</h6>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-2 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{obj.title}}</strong>
                {{obj.text_body|slice:50}}
            </p>
        </div>
        {% endfor %}

        <small class="d-block text-right mt-3">
            <a href="#">All updates</a>
        </small>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-danger pb-2 mb-0">Статистика:</h6>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-danger">
                <strong class="d-block text-gray-dark">Количество рассылок:</strong>
            <p></p>
            {{count_of_newsletter}}
            </p>

        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-danger">
                <strong class="d-block text-gray-dark">Количество активных рассылок:</strong>
            <p></p>
            {{active_news}}
            </p>

        </div>
                <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-danger">
                <strong class="d-block text-gray-dark">Количество уникальных клиентов:</strong>
            <p></p>
            {{uniq_clients}}
            </p>

        </div>

    </div>
</main>
{% endblock %}
