{% extends 'clients/base.html' %}
{% block content %}
<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body float-center">
                <h5 class="card-title">Логи</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">клиент</th>
            <th scope="col">переодичность</th>
            <th scope="col">статус рассылки</th>
            <th scope="col">время попытки</th>
            <th scope="col">статсу попытки</th>
            <th scope="col">ответ сервера</th>

        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <div class="col-12">
            <tr>

                <td>{{object.newsletter.client.email}}
                <td>{{object.newsletter.periodicity}}</td>
                <td>{{object.newsletter.status}}</td>
                <td>{{object.time}}</td>
                <td>{{object.status}}</td>
                {% if object.answer > 0 %}
                <td>good</td>
                {% else %}
                <td>good</td>
                {%endif%}
            </tr>
        </div>
        </tbody>

        {% endfor %}
    </table>
</div>
{% endblock %}